#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  height: 5px;
  width: 100%;
}

#progress-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #617c93;
  width: 50%;
  height: 5px;
}
